// .workspace-switcher {
//     width: 70px;
//     height: 100vh;
  
//     background: #1d1c1d;
//     color: white;
  
//     flex-shrink: 0;
//   }
  
  .workspace-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    padding: 8px;
  
    font-size: 13px;
  }
  
  .workspace-title button {
    border: 0;
    background: transparent;
  
    color: white;
  
    font-size: 20px;
  
    cursor: pointer;
  }
  
  .workspace-item {
    width: 100%;
  
    display: flex;
    align-items: center;
  
    gap: 10px;
  
    padding: 8px;
  
    border: 0;
    border-radius: 6px;
  
    background: transparent;
  
    color: white;
  
    text-align: left;
  
    cursor: pointer;
  }
  
  .workspace-item:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  .workspace-icon {
    width: 32px;
    height: 32px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 6px;
  
    background: white;
    color: #3f0e40;
  
    font-weight: 700;
  }