<div class="sidebar">
  <div class="workspace">
    <span>
      {{ workspace().name }}
    </span>

    <span>⌄</span>
  </div>

  <div class="section">
    <div class="section-title">
      <span>Channels</span>

      <button type="button" (click)="createChannel()">+</button>
    </div>

    @if (channels$ | async; as channels) { @for (channel of channels; track
    channel.id) {
    <button
      class="channel-item"
      [class.active]="selectedChannel()?.id === channel.id"
      (click)="selectChannel(channel)"
    >
      <span>#</span>

      <span class="channel-name">
        {{ channel.name }}
      </span>

      @if (messageCounts()[channel.id] > 0) {

      <span class="message-count">
        {{ messageCounts()[channel.id] }}
      </span>

      } @if (unreadCounts()[channel.id] > 0) {

      <span class="unread-badge">
        {{ unreadCounts()[channel.id] }}
      </span>

      }
    </button>

    } }
  </div>

  <div class="section">
    <div class="section-title">
      <span>Direct Messages</span>
      <span>+</span>
    </div>

    <div class="user-item">
      <span class="status"></span>
      Luke
    </div>

    <div class="user-item">
      <span class="status"></span>
      John
    </div>
  </div>
</div>
