.messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message {
  display: flex;
  gap: 10px;
  padding: 4px 0;
}

.avatar {
  width: 36px;
  height: 36px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;

  background: #3f0e40;
  color: white;

  font-weight: 600;
}

.content {
  min-width: 0;
}

.header {
  margin-bottom: 3px;
}

.text {
  white-space: pre-wrap;
  word-break: break-word;
}

.text strong {
  font-weight: 700;
}

.text a {
  color: #1264a3;
  text-decoration: none;
}

.text a:hover {
  text-decoration: underline;
}

/* iframe wrapper */
.iframe-container {
  width: 900px;

  /* 900px × 0.46875 */
  height: 422px;

  overflow: hidden;
}

/* actual iframe */
.stock-iframe {
  width: 1920px;
  height: 900px;

  border: 0;

  transform: scale(0.46875);
  transform-origin: top left;

  display: block;
}

.text {
  border-left: 4px solid transparent;
  padding-left: 10px;
}

.text.sell {
  border-left-color: red;
}

.text.buy {
  border-left-color: green;
}

.read-button {
  margin-top: 6px;
  padding: 3px 8px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.message.unread {
  background: #6f66b3;
}

.delete-button {
  margin-top: 6px;
  margin-left: 6px;
  padding: 3px 8px;
  font-size: 18px;
  border-radius: 5px;
  background-color: rgb(230, 109, 109);
  color: whitesmoke;
  cursor: pointer;
}

.delete-button {
  border: 0;
}

.unread_btn {
  background-color: rgb(181, 200, 181);
  border: 1px solid blue;
}

.read_btn {
  background-color: rgb(230, 109, 109);
}

.message-date {
  margin: 0 4px;
  padding: 2px 6px;
  border-radius: 4px;
}

.message-date.current-date {
  background: green;
  color: white;
}

.hr_line {
  border: 0;
  height: 2px;
  background: rgb(176, 26, 26);
}

.messages {
  height: 100%;
  overflow-y: auto;
}