<div class="messages" #messagesContainer>
  @if (messages$ | async; as messages) { @for (message of messages; track
  message.id) {

  <div class="message" [class.unread]="!isRead(message)">
    <div class="avatar">
      {{ message.userName.charAt(0) }}
    </div>

    <div class="content">
      <div class="header">
        <strong class="color-red">{{ message.userName }}</strong>

        <span
          class="message-date"
          [class.current-date]="isToday(message.createdAt)"
        >
          {{
            message.createdAt?.toDate()
              | date : "MMM d, h:mm a" : "America/Chicago"
          }}
        </span>

        <button type="button" class="read-button" (click)="toggleRead(message)">
          {{ isRead(message) ? "Mark unread" : "Mark read" }}
        </button>
      </div>

      <ng-container *ngIf="message.text | messageFormat as formatted">
        <div
          class="text"
          [class.sell]="formatted.borderClass === 'sell'"
          [class.buy]="formatted.borderClass === 'buy'"
        >
          <ng-container *ngFor="let part of formatted.parts">
            <strong *ngIf="part.type === 'bold'">
              {{ part.text }}
            </strong>

            <span *ngIf="part.type === 'text'">
              {{ part.text }}
            </span>

            <a
              *ngIf="part.type === 'link'"
              [href]="part.url"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ part.text }}
            </a>

            <app-lazy-iframe
              *ngIf="part.type === 'iframe'"
              [iframeUrl]="part.safeUrl"
            ></app-lazy-iframe>

            <div *ngIf="part.type === 'image'" class="image-container">
              <img [src]="part.url" alt="" class="stock-image" />
            </div>
          </ng-container>
        </div>
      </ng-container>

      <button
        type="button"
        class="delete-button"
        (click)="deleteMessage(message)"
      >
        Delete Just Me
      </button>

      <button
        type="button"
        class="delete-button"
        [ngClass]="isRead(message) ? 'unread_btn' : 'read_btn'"
        (click)="deleteMessage(message, 'read_delete_old')"
      >
        {{ isRead(message) ? "Mark unread" : "Mark read" }} and Delete Old
      </button>
    </div>
  </div>
  <hr class="hr_line" />
  } }
</div>
