
<div class="messages">

  @if (messages$ | async; as messages) {

    @for (message of messages; track message.id) {

      <div class="message">

        <div class="avatar">
          {{ message.userName.charAt(0) }}
        </div>

        <div class="content">

          <div class="header">
            <strong>{{ message.userName }}</strong>
          </div>

          <!-- <div>{{message.text}}</div> -->
          <div class="text">

            <ng-container *ngFor="let part of message.text | messageFormat">
          
              <!-- Bold -->
              <strong *ngIf="part.type === 'bold'">
                {{ part.text }}
              </strong>
          
              <!-- Normal text -->
              <span *ngIf="part.type === 'text'">
                {{ part.text }}
              </span>
          
              <!-- Discord link -->
              <a
                *ngIf="part.type === 'link'"
                [href]="part.url"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ part.text }}
              </a>
          
              <!-- Stock iframe -->
              <div
                *ngIf="part.type === 'iframe'"
                class="iframe-container"
              >
                <iframe
                  [src]="part.safeUrl"
                  class="stock-iframe"
                ></iframe>
              </div>
          
            </ng-container>
          
          </div>
        </div>

      </div>

    }

  }

</div>

