/* You can add global styles to this file, and also import other style files */
/* Modern CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}


// .message-lines {
//   width: 100%;
// }
.message-lines .message-line {
  display: block;
  padding: 7px 10px;
  margin: 0;
  line-height: 1.5;
  box-sizing: border-box;
}

.message-lines .message-line:nth-child(odd) {
  background: #a99797;
  color: #111;
}

.message-lines .message-line:nth-child(even) {
  background: #404040;
  color: #efe8e8;
}

.message-lines .message-line + .message-line {
  border-top: 1px solid #dcdcdc;
}